aiogram==3.20.0
aiolimiter==1.2.1
huggingface-hub==0.32.0
sentence-transformers==4.1.0
keybert==0.9.0
opensearch-py[async]==2.8.0
emoji==2.14.1
apscheduler==3.11.0
fastapi[standard]==0.115.12
SQLAlchemy[asyncio]==2.0.40
aiosmtplib==4.0.1
asyncpg==0.30.0
alembic==1.15.2
pydantic==2.11.3
pydantic-settings==2.9.1
cachetools==6.0.0
types-cachetools==6.0.0.20250525
python-dotenv==1.1.0
colorlog==6.9.0
python-json-logger==3.3.0
openpyxl==3.1.5
